/* universal styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding: 20px 25px;
    color: white;
    background: #FF5959;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* header styles */

.header{
    height: 100vh;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
     padding-top: 180px;
    padding-left: 750px;
} 

.header-content{
    margin-right: 50px;
}

.header-content-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    color: #151414;
    margin-bottom: 24px;
}
.header-content-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 30px;
}

/* main content styles */

