/* universal styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding: 20px 25px;
    color: white;
    background: #FF5959;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.btn-secondary{
    padding: 15px 30px;
    color: #FF5959;
    background: white;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* header styles */

.header{
    height: 100vh;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
     padding-top: 180px;
    padding-left: 750px;
} 

.header-content{
    margin-right: 150px;
    text-align: right;
}

.header-content-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    color: #151414;
    margin-bottom: 24px;
}
.header-content-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 30px;
}

/* main content styles */

.main-content-box{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 1100px;
    gap: 100px;
    max-width: 95%;
    margin: 130px 100px;
    
}

.main-content-text-title{
    margin-top: 80px;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #151414;
    margin-bottom: 25px;
}
.main-content-text-description{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: #444343;
}
.main-content-list-text{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #444343;
}
.main-content-list-text .list-item::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: green;
    margin-right: 10px;
}
.main-content-text2{
    margin-left: 100px;
}

/* plan box syles */

.plan-box-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;
}

.skill-plans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 130px;
    gap: 30px;
}
.skill-plan-item{
    text-align: center;
}
.skill-plan-item img{
    margin-bottom: 25px;
}
.skill-plan-item-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #151414;
    margin-bottom: 15px;
}
.skill-plan-item-description{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #737272;
}

/* background blend box */


.blend-background-image img{
    margin-left: 100px;
    margin-bottom: 130px;
    background-image: url(../images/watch.png);
}
.blend-background-image{
    position: relative;
}
.blend-background-text{
    position: absolute;
    top: 0;
    margin-left: 200px;
    margin-top: 60px;
    color: white;
}
.blend-background-text-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 25px;
}

/* footer styles */

footer{
    background-color: #151414;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 130px 230px;
    gap: 200px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
}
.future-description, .email, .phone{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}
.subscribe{
    position:relative, top;
}
footer input[type="email"]{
    border: 2px solid white;
    background: #151414;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 150px 20px 20px;
    margin-bottom: 16px;
}
.footer-icons img{
    margin-right: 18px;
}
.end{
    text-align: center;
    padding-bottom: 20px;
}